body{
	background-color:#DCDCDC;
}
.problem_frontend{
	background-color:white;
	padding:20px 0 5px 20px;
	width:60%;
	min-height:800px;
	margin:20px 20% 20px 20%;
}
.heading{
	padding-left:10px;
	height:50px;
}
.content_heading{
	margin-top:10px;
	margin-right:15px;
	padding:10px;
	background-color:#FFF5EE;
}
.content{
	background-color:#FFF5EE;
	min-height:200px;
	padding:10px;
	margin:0px 15px 20px 0;

}
.example{
	margin:20px 0 20px 0;
}
.example>h3{
	letter-spacing:10px;
}
.output_heading{
	margin:30px 0 20px 0;
}
.output{
	margin:0 0 20px 0;
}
.problem_frontend_submit{
	height:50px;
	font-size:1.5em;
}
#code{
	margin:0 20px 20px 0;
	width:80%;
	height:50px;
	line-height:0px;
	overflow:auto;
	text-align:left;
}
h4,h3{
	line-height:15px;
}

.submit_heading{
	margin-bottom:20px;
}
.submit{
	background-color:white;
	padding:20px 0 5px 20px;
	width:60%;
	min-height:500px;
	margin:20px 20% 20px 20%;
}
#submit_section{
	border-radius:10px;
	width:80%;
	min-height:100px;
	max-height:300px;
	margin-right:20px;
}
.submit_text{
	margin-bottom:20px;
}