/* 

	TableCloth	
	by Alen Grakalic, brought to you by cssglobe.com
	
*/

/* general styles */

.question_container{
	max-height:1000px;
	width:80%;
	margin:20px 10% 20px 10%;
}
.id{
	width:15%;
}
.id:hover{
	background:	#87CEFA;
}
.name{
	width:40%;
}
.name>a:hover{
	text-decoration:initial;
}
.name:hover{
	background:	#87CEFA;
}
.difficulty{
	width:10%;
}
.difficulty:hover{
	background:	#87CEFA;
}
.state{
	width:15%;
}
.state:hover{
	background:	#87CEFA;
}

table{
	border-collapse:collapse;
}
th, td{
	font-family:Roboto;
	font-size:1.4em;
	height:50px;
	text-align:left;
	padding:.5em;
	border:2px solid #CDCDC1;
	
}

th{background:#328aa4 url('../images/tr_back.gif') repeat-x;color:#fff;}
td{background:#e5f1f4;}

/* tablecloth styles */

tr.even td{background:#e5f1f4;}
tr.odd td{background:#f8fbfc;}

th.over{background:#4a98af;}
th.down, tr.even th.down, tr.odd th.down{background:#bce774;}
th.selected, tr.even th.selected, tr.odd th.selected{}

td.over{background:#ecfbd4;}
td.down, tr.even td.down, tr.odd td.down{background:#bce774;color:#fff;}
td.selected, tr.even td.selected, tr.odd td.selected{background:#bce774;color:#555;}

/* use this if you want to apply different styleing to empty table cells*/
td.empty, tr.odd td.empty, tr.even td.empty{background:#fff;}